@import 'https://fonts.googleapis.com/css?family=Heebo:700';
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Rubik+Mono+One&family=Russo+One&display=swap');
html[data-mobile="no"]{
    background-image: url('../fond.png');
    background-size: auto;
}
header[data-mobile="no"]{
    width: 100%;
    height: 9vmin;
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 99999;
    padding-top: 1vmin;
}
.logo[data-mobile="no"]{
    width: 30vmin;
    padding-top: 2vmin;
    padding-left: 5vmin;
}
.title[data-mobile="no"]{
    font-size: 4vmin;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 3vmin;
    margin-top: 1.5vmin;
}
.align-div[data-mobile="no"]{
    display: flex;
}
.access[data-mobile="no"]{
    margin-top: 2vmin;
    margin-left: auto;
    margin-right: 7.5vmin;
    background: white;
    border-radius: 10px;
    border: none;
    outline: none;
    color: black;
    transition: 1s;
    cursor: pointer;
    font-size: 2.5vmin;
    box-shadow: 0 0 20px white;
    text-decoration: none;
    color: black;
    padding-top: 3vmin;
    padding-bottom: 3vmin;
    padding-left: 7.5vmin;
    padding-right: 7.5vmin;
    font-family: arial;
    height: max-content;
}
footer[data-mobile="no"]{
    background: linear-gradient(to bottom, rgb(19, 0, 43), black);
    position: absolute;
    top: 100vh ;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
}
.site[data-mobile="no"]{
    display: block;
    margin-top: 10vmin;
    margin-left: 30vmin;
    margin-bottom: 5vmin;
}
.site h1[data-mobile="no"]{
    color: aqua;
    font-size: 3vmin;
    font-family: arial;
    border-bottom: 1px solid white;
    width: max-content;
}
.site a[data-mobile="no"]{
    color: white;
    font-family: arial;
    font-size: 2vmin;
    transition: 1s;
    text-decoration: none;
    display: block;
    margin-top: 1vmin;
}
.site a:hover[data-mobile="no"]{
    color: aqua;
    transition: 1s;
    text-shadow: 0 0 20px aqua
}
.contact[data-mobile="no"]{
    display: block;
    margin-top: 10vmin;
    margin-right: 30vmin;
    margin-left: auto;
    margin-bottom: 5vmin;
}
.contact h1[data-mobile="no"]{
    color: aqua;
    font-size: 3vmin;
    font-family: arial;
    border-bottom: 1px solid white;
    width: max-content;
}
.contact a[data-mobile="no"]{
    color: white;
    font-family: arial;
    font-size: 2vmin;
    transition: 1s;
    text-decoration: none;
    display: block;
    margin-top: 1vmin;
}
.contact a:hover[data-mobile="no"]{
    color: aqua;
    transition: 1s;
    text-shadow: 0 0 20px aqua
}
.ico-menu-open-visi[data-mobile="no"]{
    position: absolute;
    left: auto;
    right: 7.5vmin;
    width: 7vmin;
    padding-top: 0.5vmin;
    user-select: none;
    cursor: pointer;
    transition: .8s;
}
.ico-menu-open-hid[data-mobile="no"]{
    display: none;
    transition: .8s;
}
.ico-menu-close[data-mobile="no"]{
    position: absolute;
    right: auto;
    left: 2vmin;
    width: 7.5vmin;
    padding-top: 1vmin;
    user-select: none;
    cursor: pointer;
}
.menu-close[data-mobile="no"]{
    position: fixed;
    z-index: 99999;
    top: 0;
    right: -150%;
    width: 150%;
    height: 100%;
    background: rgb(29, 29, 29, 0.5);
    backdrop-filter: blur(1em);
    box-shadow: 0 0 20px white;
    transition: .8s;
}
.menu-close h1[data-mobile="no"]{
    display: block;
    margin-top: 10vmin;
    margin-bottom: 10vmin;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: 700 50px 'Heebo', helvetica, san-serif;
    font-size: 4vmin;
    color: white;
    border-bottom: 2px solid white;
    width: max-content;
}
.menu-close a[data-mobile="no"]{
    display: block;
    margin-top: 1vmin;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: 700 50px 'Heebo', helvetica, san-serif;
    font-size: 4vmin;
    color: white;
    text-decoration: none;
    transition: .3s;
    width: max-content;
    border-bottom: 2px solid grey;
}
.menu-close a:hover[data-mobile="no"]{
    color: aqua;
    transition: .5s;
    border-bottom: 2px solid aqua;
}
.menu-open[data-mobile="no"]{
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background: rgb(29, 29, 29, 0.5);
    backdrop-filter: blur(1em);
    box-shadow: 0 0 20px white;
    transition: .8s;
}
.menu-open h1[data-mobile="no"]{
    display: block;
    margin-top: 10vmin;
    margin-bottom: 10vmin;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: 700 50px 'Heebo', helvetica, san-serif;
    font-size: 4vmin;
    color: white;
    border-bottom: 2px solid white;
    width: max-content;
}
.menu-open a[data-mobile="no"]{
    display: block;
    margin-top: 1vmin;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: 700 50px 'Heebo', helvetica, san-serif;
    font-size: 4vmin;
    color: white;
    text-decoration: none;
    transition: .3s;
    width: max-content;
    border-bottom: 2px solid grey;
}
.container[data-mobile="no"]{
    display: block;
    margin-top: 30vmin;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.div-deco[data-mobile="no"]{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: url('div-deco.png');
    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.contact-body[data-mobile="no"]{
    font-family: 'Orbitron' , 'Rubik Mono One' , 'Russo One' , sans-serif;
    position: absolute;
    top: 40vh;
    right: 10%;
    background: linear-gradient(to right, white, grey);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6vmin;
    border-bottom: 2px solid white;
    width: max-content;
}
.bars-1[data-mobile="no"]{
    background: rgb(66, 66, 66);
    border: none;
    width: 50vmin;
    height: 6vmin;
    padding-left: 1.5vmin;
    outline: none;
    color: white;
    transition: 1s;
    margin-top: 2.5vmin;
    font-size: 2vmin;
    font-family: 'Orbitron' , 'Rubik Mono One' , 'Russo One' , sans-serif;
}
.bars-1:focus[data-mobile="no"]{
    border: 2px solid rgb(0, 255, 0);
    box-shadow: 0 0 20px rgb(0, 255, 0);
    transition: .3s;
}
.bars-2[data-mobile="no"]{
    background: rgb(66, 66, 66);
    border: none;
    width: 50vmin;
    height: 25vmin;
    padding-left: 1.5vmin;
    padding-bottom: 1.5vmin;
    padding-top: 1.5vmin;
    padding-bottom: 1.5vmin;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
    outline: none;
    color: white;
    transition: 1s;
    margin-top: 2.5vmin;
    font-size: 2vmin;
    font-family: 'Orbitron' , 'Rubik Mono One' , 'Russo One' , sans-serif;
}
.bars-2:focus[data-mobile="no"]{
    border: 2px solid rgb(0, 255, 0);
    box-shadow: 0 0 20px rgb(0, 255, 0);
    transition: .3s;
}
.submit-form[data-mobile="no"]{
    border: none;
    width: 50vmin;
    height: 6vmin;
    margin-top: 2.5vmin;
    background: rgb(66, 66, 66);
    color: white;
    font-size: 2vmin;
    transition: 1s;
    cursor: pointer;
    font-family: 'Orbitron' , 'Rubik Mono One' , 'Russo One' , sans-serif;
}
.submit-form:hover[data-mobile="no"]{
    transition: .3s;
    box-shadow: 0 0 20px aqua;
    border: 2px solid aqua;
}
.avert[data-mobile="no"]{
    color: rgb(124, 124, 124);
    font-family: arial;
    display: block;
    margin-top: 2.5vmin;
    margin-left: auto;
    margin-right: auto;
}
.avert a[data-mobile="no"]{
    cursor: pointer;
    color: rgb(124, 124, 124);
}

/* tel */

@import 'https://fonts.googleapis.com/css?family=Heebo:700';
html[data-mobile="yes"]{
    background-color: rgb(29, 29, 29);
}
header[data-mobile="yes"]{
    width: 100%;
    height: 15vmin;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    z-index: 99999;
    box-shadow: 0 0 10px white;
    padding-top: 2vmin;
}
.logo[data-mobile="yes"]{
    width: 12.5vmin;
    height: 12.5vmin;
    padding-left: 7.5vmin;
    padding-top: 0.5vmin;
}
.title[data-mobile="yes"]{
    font-size: 6vmin;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 3vmin;
    padding-top: -2vmin;
}
.align-div[data-mobile="yes"]{
    display: flex;
}
.access[data-mobile="yes"]{
    margin-top: 2vmin;
    margin-left: auto;
    margin-right: 7.5vmin;
    background: white;
    border-radius: 10px;
    border: none;
    outline: none;
    color: black;
    transition: 1s;
    cursor: pointer;
    font-size: 2.5vmin;
    box-shadow: 0 0 20px white;
    text-decoration: none;
    color: black;
    padding-top: 3vmin;
    padding-bottom: 3vmin;
    padding-left: 7.5vmin;
    padding-right: 7.5vmin;
    font-family: arial;
    height: max-content;
}
footer[data-mobile="yes"]{
    background: linear-gradient(to bottom, rgb(19, 0, 43), black);
    position: absolute;
    top: 100vh ;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
}
.site[data-mobile="yes"]{
    display: block;
    margin-top: 10vmin;
    margin-left: 30vmin;
    margin-bottom: 5vmin;
}
.site h1[data-mobile="yes"]{
    color: aqua;
    font-size: 3vmin;
    font-family: arial;
    border-bottom: 1px solid white;
    width: max-content;
}
.site a[data-mobile="yes"]{
    color: white;
    font-family: arial;
    font-size: 2vmin;
    transition: 1s;
    text-decoration: none;
    display: block;
    margin-top: 1vmin;
}
.site a:hover[data-mobile="yes"]{
    color: aqua;
    transition: 1s;
    text-shadow: 0 0 20px aqua
}
.contact[data-mobile="yes"]{
    display: block;
    margin-top: 10vmin;
    margin-right: 30vmin;
    margin-left: auto;
    margin-bottom: 5vmin;
}
.contact h1[data-mobile="yes"]{
    color: aqua;
    font-size: 3vmin;
    font-family: arial;
    border-bottom: 1px solid white;
    width: max-content;
}
.contact a[data-mobile="yes"]{
    color: white;
    font-family: arial;
    font-size: 2vmin;
    transition: 1s;
    text-decoration: none;
    display: block;
    margin-top: 1vmin;
}
.contact a:hover[data-mobile="yes"]{
    color: aqua;
    transition: 1s;
    text-shadow: 0 0 20px aqua
}
.ico-menu-open-visi[data-mobile="yes"]{
    position: absolute;
    left: auto;
    right: 7.5vmin;
    width: 12.5vmin;
    padding-top: 0.5vmin;
    user-select: none;
    cursor: pointer;
    transition: .8s;
}
.ico-menu-open-hid[data-mobile="yes"]{
    display: none;
    transition: .8s;
}
.ico-menu-close[data-mobile="yes"]{
    position: absolute;
    right: auto;
    left: 2vmin;
    width: 12.5vmin;
    padding-top: 1vmin;
    user-select: none;
    cursor: pointer;
}
.menu-close[data-mobile="yes"]{
    position: fixed;
    z-index: 99999;
    top: 0;
    right: -150%;
    width: 150%;
    height: 100%;
    background: rgb(29, 29, 29, 0.5);
    backdrop-filter: blur(1em);
    box-shadow: 0 0 20px white;
    transition: .8s;
}
.menu-close h1[data-mobile="yes"]{
    display: block;
    margin-top: 10vmin;
    margin-bottom: 10vmin;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: 700 50px 'Heebo', helvetica, san-serif;
    font-size: 4vmin;
    color: white;
    border-bottom: 2px solid white;
    width: max-content;
}
.menu-close a[data-mobile="yes"]{
    display: block;
    margin-top: 1vmin;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: 700 50px 'Heebo', helvetica, san-serif;
    font-size: 4vmin;
    color: white;
    text-decoration: none;
    transition: .3s;
    width: max-content;
    border-bottom: 2px solid grey;
}
.menu-close a:hover[data-mobile="yes"]{
    color: aqua;
    transition: .5s;
    border-bottom: 2px solid aqua;
}
.menu-open[data-mobile="yes"]{
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(29, 29, 29, 0.5);
    backdrop-filter: blur(1em);
    box-shadow: 0 0 20px white;
    transition: .8s;
}
.menu-open h1[data-mobile="yes"]{
    display: block;
    margin-top: 50vmin;
    margin-bottom: 10vmin;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: 700 50px 'Heebo', helvetica, san-serif;
    font-size: 9vmin;
    color: white;
    border-bottom: 2px solid white;
    width: max-content;
}
.menu-open a[data-mobile="yes"]{
    display: block;
    margin-top: 1vmin;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: 700 50px 'Heebo', helvetica, san-serif;
    font-size: 6vmin;
    color: white;
    text-decoration: none;
    transition: .3s;
    width: max-content;
    border-bottom: 2px solid grey;
}
.menu-open a:hover[data-mobile="yes"]{
    color: aqua;
    transition: .5s;
    border-bottom: 2px solid aqua;
}
.container[data-mobile="yes"]{
    display: block;
    margin-top: 50vmin;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.bars-1[data-mobile="yes"]{
    background: transparent;
    border: 2px solid white;
    border-radius: 25px;
    width: 75vmin;
    height: 7.5vmin;
    padding-left: 1.5vmin;
    outline: none;
    color: white;
    transition: 1s;
    margin-top: 2.5vmin;
    font-size: 3.5vmin;
}
.bars-1:focus[data-mobile="yes"]{
    border: 2px solid rgb(0, 255, 0);
    box-shadow: 0 0 20px rgb(0, 255, 0);
    transition: .3s;
}
.bars-2[data-mobile="yes"]{
    background: transparent;
    border: 2px solid white;
    border-radius: 25px;
    width: 75vmin;
    height: 50vmin;
    padding-left: 1.5vmin;
    padding-bottom: 1.5vmin;
    padding-top: 1.5vmin;
    padding-bottom: 1.5vmin;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
    outline: none;
    color: white;
    transition: 1s;
    margin-top: 2.5vmin;
    font-size: 3.5vmin;
}
.bars-2:focus[data-mobile="yes"]{
    border: 2px solid rgb(0, 255, 0);
    box-shadow: 0 0 20px rgb(0, 255, 0);
    transition: .3s;
}
.submit-form[data-mobile="yes"]{
    border-radius: 50px;
    border: 2px solid white;
    width: 75vmin;
    height: 7.5vmin;
    margin-top: 2.5vmin;
    background: transparent;
    color: white;
    font-size: 3.5vmin;
    transition: 1s;
    cursor: pointer;
}
.submit-form:hover[data-mobile="yes"]{
    transition: .3s;
    box-shadow: 0 0 20px aqua;
    border: 2px solid aqua;
}
.avert[data-mobile="yes"]{
    color: rgb(124, 124, 124);
    font-family: arial;
    display: block;
    margin-top: 2.5vmin;
    margin-left: auto;
    margin-right: auto;
    font-size: 2vmin;
}
.avert a[data-mobile="yes"]{
    cursor: pointer;
    color: rgb(124, 124, 124);
}